.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

// FIX: support RTL
.ms-50p {
  margin-left: 50%;
}

.ms-25p {
  margin-left: 25%;
}

.z-10 {
  z-index: 10;
}

.z-100 {
  z-index: 100;
}

/**
 * Creates a "breakpoint" based class, for example:
 *    $create-breakpoint-class('btn', 'purple')
 *      --> .btn-purple, .btn-sm-purple, .btn-md-purple, ...
 *    Where the class' content is applicable to that screen size.
 */
@mixin create-breakpoint-class($class-name-prefix, $class-name-suffix) {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .#{$class-name-prefix}#{$infix}-#{$class-name-suffix} {
      @include media-breakpoint-up($breakpoint) {
        @content;
      }
    }
  }
}

@include create-breakpoint-class('w', '25') {
  width: 25% !important;
}

@include create-breakpoint-class('w', '33') {
  width: 33% !important;
}

// $sizes: (
//   25: 25%,
//   50: 50%,
//   100: 100%,
//   80px: 80px
// );

// @each $breakpoint in map-keys($grid-breakpoints) {
//   @include media-breakpoint-up($breakpoint) {
//     $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
//     @each $prop, $abbrev in (width: w, height: h) {
//       @each $size, $length in $sizes {
//         .#{$abbrev}#{$infix}-#{$size} {
//           #{$prop}: $length !important;
//         }
//       }
//     }
//   }
// }

.fade-1s {
  transition: opacity ease 1s;
}

.fade-2s {
  transition: opacity ease 2s;
}

.fade-in {
  opacity: 1;
  //height: auto;
}

.fade-out {
  opacity: 0;
  pointer-events: none;
  //height: 0;
}

.w-1 {
  width: 1%;
}

.w-10 {
  width: 10%;
}

.min-width-50 {
  min-width: 50%;
}

.height-26px {
  height: 26px;
}

.width-70px {
  width: 70px;
}
